<%- include('./partials/header')%>


<div class="page1 h-[100vh] w-full text-white uppercase" >
    <div class="fixed top-0 w-full z-50">
        <%- include('./partials/nav')%>
        
    </div>
    <!-- <div class="absolute top-[15%] z-20 w-full h-2 bg-blue-500  "></div> -->
    <img class="absolute top-0 w-full h-[90vh] object-cover object-center " src="https://www.liderempresarial.com/wp-content/uploads/2020/08/Bombeo-Solar-Fotovoltaico-co%CC%81mo-generar-energi%CC%81a-ele%CC%81ctrica-a-partir-de-la-energi%CC%81a-del-Sol.jpg" alt="">
    <h1 class="textmain absolute top-[25%] left-[3%] text-9xl font-bold z-50 ">we are <br> <span class="text-yellow-300"> solarmystic</span> </h1>
    <a class="z-50 absolute top-[65%] left-[3%] text-3xl font-bold z-50 border-2 border-yellow-500 p-5 " href="/register"> get a quote </a>
    <p class="absolute top-[25%] right-[10%] text-xl font-bold z-50 ">"Harvesting Sunshine, Powering Progress"</p>
    <!-- <img class='w-full h-50' src="https://img.freepik.com/premium-psd/solar-panel-isolated-transparent-background-png_1073071-7226.jpg" alt=""> -->
</div>
<div class="absolute h-[90vh] inset-0  bg-black opacity-30"></div>

<div class="page2 text-center p-16 text-yellow-300"> 
    <h1 class="text-8xl uppercase font-bold mb-10 text-black">our Vision</h1>
    <p class="text-yellow-700 text-2xl mb-10 ">"Harvesting Sunshine, Powering Progress"</p>
    <p class="px-20 text-4xl">Our vision is to revolutionize India's
        energy landscape by making solar
        power the cornerstone of a
        sustainable future, where clean and
        affordable energy empowers
        communities, fuels economic growth,
        and preserves the environment for
        generations to come."</p>
</div>

<div class="page3 text-center p-16 text-yellow-300"> 
    <h1 class="text-8xl uppercase font-bold mb-10 text-black">our Mission</h1>
    <p class="px-20 text-4xl  mb-10">Empowering India's transition to
        sustainable energy by providing
        reliable, affordable, and innovative
        solar solutions to communities,
        businesses, and industries
        nationwide.
        </p>
    <p class="text-yellow-700 text-2xl ">Our mission is to make clean, renewable
        energy accessible and affordable for
        everyone.
        </p>
</div>

<div class="page4 py-20 px-10 text-yellow-300 ">
    <h1 class="text-center text-8xl font-bold uppercase mb-10 text-black">About Us</h1>
    <p class="text-center text-2xl px-20 mb-10">Powering the Future Together: Solar
        Mystic Energy private Limited is
        dedicated to bringing sustainable energy
        solutions to life. With our innovative
        solar technology and passionate team,
        we're illuminating a brighter, greener
        tomorrow.
        We are committed to provide cuttingedge solar power systems that harness
        the abundant energy of the sun. </p>
    <div>
        <div class="cate p-10">
            <div class="cate1 flex items-center justify-between text-6xl p-10 border-y-2 border-gray-700">
                <div>
                    <h1 class="mb-4">KETAN TIWARI</h1>
                    <p class="text-3xl">Technical & Design Head</p>
                </div>
                <!-- <img src="https://images.unsplash.com/photo-1648431078042-95190ce14cc3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""> -->
                <a href="#"><i class="ri-arrow-right-up-line"></i></a>
            </div>
            <div class="cate1 items-center flex justify-between text-6xl p-10 border-b-2 border-gray-700">
                <div>
                    <h1 class="mb-4">SMRITI SHARMA </h1>
                    <p class="text-3xl">Finance & Marketing Head</p>
                </div>
                <!-- <img src="https://images.unsplash.com/photo-1711470053377-bdd52fdba484?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""> -->
                <a href="#"><i class="ri-arrow-right-up-line"></i></a>
            </div>
            <div class="cate1 items-center flex justify-between text-6xl p-10 border-b-2 border-gray-700">
                <div>
                    <h1 class="mb-4">LINU G. THOMAS</h1>
                    <p class="text-3xl">Project Management Head</p>
                </div>
                <!-- <img src="https://plus.unsplash.com/premium_photo-1710679065503-6ad0dbeafb9b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""> -->
                <a href="#"><i class="ri-arrow-right-up-line"></i></a>
            </div>
            
        </div>
    </div>
</div>

<div class="page5 bg-yellow-400 text-white p-20 flex flex-col gap-10">
    <div class="pro1 text-center ">
        <h1 class="text-8xl uppercase font-bold mb-10">1. project</h1>
    <p class="text-2xl mb-10 ">We are thrilled to introduce our
        collaborative efforts with Vidhya Power
        Enterprise, a pioneering force in
        sustainable development. Together, we
        are embarking on a journey to
        revolutionize energy consumption
        through innovative solar projects.
        Harnessing Solar Power for a Greener
        Tomorrow. Pictured here are some of
        our collaborative solar projects in a rural
        area, demonstrating our commitment to
        bringing clean, renewable energy to
        every corner. Our systems are tailored
        for optimal performance, ensuring
        sustainable energy solutions for both
        urban and rural settings.</p>
        <h2 class="text-yellow-700">"Empowering Education with Solar
            Power for Brighter Future"</h2>
    </div>
    <div class="pro1 text-center ">
        <h1 class="text-8xl uppercase font-bold mb-10">2. project</h1>
    <p class="text-2xl mb-10 ">Bringing Solar Power to Educational
        Institutions
        Our solar panel installation at the
        Government Primary School in Madhuri,
        Madhya Pradesh, India, showcases our
        commitment to empowering education
        with sustainable energy solutions. By
        providing reliable and eco-friendly
        power, we help schools reduce their
        energy costs and focus more resources
        on student development.</p>
        <h2 class="text-yellow-700">"I 482002, M.P. lluminate the nights with solar lights "</h2>
    </div>
    
</div>

<div class="page6 text-center p-16">
    <h1 class="text-8xl uppercase font-bold mb-10">Our Services</h1>
    <div class="p-6 text-2xl  text-yellow-400">
        <p class="p-10 border-b-2 border-gray-700">Customized solar power plant
            installation
            </p>
        <p class="p-10 border-b-2 border-gray-700">Auditing & Commissioning

            </p>
        <p class="p-10 border-b-2 border-gray-700">Solar energy consulting
            </p>
        <p class="p-10 border-b-2 border-gray-700">Design Maintenance and monitoring
            services
            </p>
        <p class="p-10 border-b-2 border-gray-700">Green energy grants assistance

            </p>
        <p class="p-10 border-b-2 border-gray-700">Solar street lightings installation</p>
        <p class="p-10 border-b-2 border-gray-700">Project management & Consultancy</p>
    </div>
</div>

<div class="page7 text-center p-16">
    <h1 class="text-8xl uppercase font-bold mb-10">Why Choose Us?
    </h1>
    <div class="p-4 text-2xl  text-yellow-400">
        <p class="p-10 border-b-2 border-gray-700">Expertise: Our team comprises
            industry veterans with extensive
            knowledge in solar technology.</p>
        <p class="p-10 border-b-2 border-gray-700">Quality: We use only top-tier solar
            panels and equipment to ensure
            maximum efficiency and durability </p>
        <p class="p-10 border-b-2 border-gray-700">Sustainability: By choosing solar, you
            contribute to a greener, cleaner
            environment</p>
        <p class="p-10 border-b-2 border-gray-700">Savings: Solar energy can significantly
            reduce your electricity bills and offer
            long-term financial benefits.
            </p>
        <p class="p-10 border-b-2 border-gray-700">Support: From consultation to
            installation and maintenance, we
            provide comprehensive support</p>
    </div>
</div>


<div>
    <form action="/register" method="post">
        
        <h1 class="bg-black text-yellow-300 text-6xl uppercase font-bold pt-20 text-center">register now</h1>
        
        <div class="flex items-center bg-black justify-center h-[100vh] w-full pt-14 ">
            <div class="w-[35%] h-[80%] bg-gradient-to-r from-red-500   to-amber-600 rounded-xl flex items-center justify-center flex-col ">
              <div class=" w-[60%] h-[75%] flex flex-col gap-4">
              <div class=" leading-[2rem]">
                 <h1 class="text-[1rem]">HELLO,</h1>
                 <h1 class="text-[3rem] font-bold">WELCOME !</h1>
              </div>
            <input
              class="text-white placeholder-white p-3 rounded-full border-[3px] bg-transparent "
              type="text"
              placeholder="name"
              name="name"
            /> 
            <input
              class="text-white placeholder-white p-3 rounded-full border-[3px] bg-transparent "
              type="text"
              placeholder="username"
              name="username"
            /> 
            
            <input
              class="text-white placeholder-white p-3 rounded-full border-[3px] bg-transparent "
              type="text"
              placeholder="email"
              name="email"
            /> 
            
            <input
              class="text-white placeholder-white p-3 rounded-full border-[3px] bg-transparent "
              type="password"
              placeholder="Password"
              name="password"
            />
            
        
            <button class="bg-white p-3 text-black rounded-full font-semibold text-black" >Register</button>
            
            <div class="flex">
                <p>already having account? </p>
                <a class="text-blue-200" href="/login">login</a>
        
            </div>
        
            <!-- <div class="flex justify-center gap-5 text-white">
            <a class="text-[2rem]" href=""><i class="ri-facebook-circle-line"></i></a>
            <a class="text-[2rem]" href=""><i class="ri-instagram-line"></i></a>
            <a class="text-[2rem]" href=""><i class="ri-google-fill"></i></a>
            </div> -->
           
            </div>
              </div>
           
            
          </div>
        
        
        
        
        </form>
        
</div>




<div class="footer bg-black text-yellow-300 p-16 border-t-2 border-gray-700">
    <h1 class="text-5xl font-bold mb-14 ">Contact Us</h1>
    <div class="flex items-center justify-center gap-52">
        <div class="flex flex-col gap-4">
            <p><i class="ri-phone-fill"></i> 8770326097, 9770870743</p>
            <a href=""><i class="ri-mail-line"></i> solarmysticenergy@gmail.com</a> 
            <a href=""><i class="ri-global-line"></i> www.solarmysticenergy.com.in</a>
        </div>
        <div class="flex flex-col gap-4">
            <p class="uppercase text-2xl"> address</p>
            <p>2176, Hawa Ghar Chowk, <br>
                Wright Town, Jabalpur <br>
                482002, M.P.</p>
        </div>
        <div class="text-3xl">
            <i class="ri-instagram-line"></i>
            <i class="ri-facebook-circle-line"></i>
            <i class="ri-google-fill"></i>
            <i class="ri-linkedin-box-line"></i>
        </div>
    </div>
</div>



<script>
    gsap.to('.textmain' , { 
        x: 200
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

<%- include('./partials/footer')%>